version: '3'
services: 
    klevr-manager:
        image: ${KLEVR_IMAGE}
        ports:
           - "8090:8090"
        volumes:
           - ./db_backup:/nexclipper
        environment:
           LOG_LOGPATH: "/nexclipper/klevr_log/klevr-manager.log"
           LOG_MAXSIZe: 5
           LOG_MAXBACKUPS: 10
           LOG_MAXAGE: 10
           KLEVR_DB_URL: "${KLEVR_DB_USER}:${KLEVR_DB_PASSWD}@tcp(${KLEVR_DB_URL}:${KLEVR_DB_PORT})/klevr?charset=utf8mb4&parseTime=True&loc=Local"
           KLEVR_DB_LOGLEVEL: "warn"
           KLEVR_DB_SHOWSQL: "false"
           KLEVR_SERVER_STATUSUPDATECYCLE: 30
        command:
           - bash
           - -c
           - |
              /init-db.sh ${KLEVR_DB_USER} ${KLEVR_DB_PASSWD} ${KLEVR_DB_URL} ${KLEVR_DB_PORT} klevr ./conf/klevr-manager-db.sql /nexclipper
              /klevr-manager -c ./conf/klevr-manager-compose.yml -hook "${NEXCLIPPER_INNER_URL}/events/klevr"